<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise - 1</title>
    <link rel="stylesheet" href="Exercise1.css">
</head>
<body>
    
    <nav class="menu">
        <div class="logo"><img src="logo.png" alt=""></div>
            <div class="items">
                <div class="it"><a href="">Home</a></div>
                <div class="it"><a href="">Services</a></div>
                <div class="it"><a href="">Technology</a></div>
                <div class="it"><a href="">Careers</a></div>
                <div class="it"><a href="">Product</a></div>
                <div class="it"><a href="">Blog</a></div>
            </div>
    </nav>

    <main>
        <div class="outer">
            <div class="copyright">&copy; Copyright 2021 ATDev Services Pvt. Ltd.. All Rights Reserved.</div>
            <div class="inner">
                <div class="first">
                    <div>
                        <img src="logo.png" alt="" width="40%">
                    </div>
                    <h1>
                        ATDev Services Pvt Ltd.
                    </h1>
                    <div class="first-second">
                       <h2> Registered office: KUL-ECOLOCH CB-105,<br> MAHALUNGE,PUNE, INDIA - 411045 <br> CIN: U74999PN2019OPC181765 <br>Email: info@anytimedeveloper.com </h2>
                    </div>
                
                </div>

                <div class="second">

                </div>

                <div class="third">

                </div>
            </div>
        </div>
    </main>
</body>
</html>