<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise - 1</title>
    <link rel="stylesheet" href="Exercise1.css">
</head>

<body>

    <nav class="menu">
        <div class="logo"><img src="logo.png" alt=""></div>
        <div class="items">
            <div class="it"><a href="">Home</a></div>
            <div class="it"><a href="">Services</a></div>
            <div class="it"><a href="">Technology</a></div>
            <div class="it"><a href="">Careers</a></div>
            <div class="it"><a href="">Product</a></div>
            <div class="it"><a href="">Blog</a></div>
        </div>
    </nav>

    <main>
        <div class="outer">
            <div class="copyright">&copy; Copyright 2021 ATDev Services Pvt. Ltd.. All Rights Reserved.</div>
            <div class="inner">
                <div class="first">
                    <div>
                        <img src="logo.png" alt="" width="40%">
                    </div>

                    <h1>
                        ATDev Services Pvt Ltd.
                    </h1>
                    <div class="first-second">
                        <h2> Registered office: KUL-ECOLOCH CB-105,<br> MAHALUNGE,PUNE, INDIA - 411045 <br> CIN:
                            U74999PN2019OPC181765 <br>Email: info@anytimedeveloper.com </h2>
                    </div>

                    <h1>
                        Technology Stack
                    </h1>
                    <div class="first-second">
                        <ul>
                            <li>MuleSoft</li>
                            <li>Spring Stack | KONG</li>
                        </ul>
                    </div>

                    <div class="block">
                        <h2>WORK WITH US</h2>
                    </div>
                </div>



                <div class="second">
                    <h1>
                        Integration
                    </h1>
                    <div class="first-second">
                        <ul class="right-tick">
                            <li>Core System Integration</li>
                            <li>Modern Apps Integration</li>
                            <li>Integration Transformation</li>
                        </ul>
                    </div>

                    <h1>
                        API
                    </h1>
                    <div class="first-second">
                        <ul class="right-tick">
                            <li>Cloud API's</li>
                            <li>MicroServices</li>
                            <li>API as a Service</li>
                        </ul>
                    </div>

                    <h1>
                        Transformation
                    </h1>
                    <div class="first-second">
                        <ul class="right-tick">
                            <li>Data</li>
                            <li>Process</li>
                            <li>Application</li>
                        </ul>
                    </div>

                </div>

                <div class="third">
                    <h1>
                        Write a Query ?
                    </h1>
                    <div class="third-first">
                        <form action="">

                            <div class="names">
                                <div class="sub-names">
                                    <label for="first-name">First Name <span>*</span></label>
                                    <input type="text" id="first-name" placeholder="First Name">
                                </div>
                                <div class="sub-names">
                                    <label for="second-name">Second Name <span>*</span></label>
                                    <input type="text" id="second-name" placeholder="Second Name">
                                </div>
                            </div>

                            <div class="email">
                                <div><label for="email">Email <span>*</span></label></div>
                                <div><input type="text" id="email" placeholder="Email"></div>

                            </div>

                            <div class="email">
                                <div><label for="telephone">Telephone <span>*</span></label></div>
                                <div><input type="text" id="telephone" placeholder="Telephone"></div>

                            </div>

                            <div>
                                <div><label for="message">Write a message <span>*</span></label></div>
                                <div><textarea id="message" name="message" rows="4" cols="45">
                                </textarea></div>
                            </div>

                            
                            <input type="button" id="btn" value="SUBMIT">

                            
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>