@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    
}


.menu{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
    /* background-color: aqua; */
}

.logo{
    margin-left: 10vh;
}

.items{
    display: flex;
    min-width: 200px;
    text-align: center;
    margin-right: 15vh;
    margin-top: 15px;

}

.it{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: rgb(66, 151, 190);
    
}

/* Nav ends */


.copyright{
    margin-top: 15px;
    text-align: center;
    font-weight:800;
    color: rgb(49, 49, 47);
    padding: 20px;
}

.inner{
    display: flex;
    justify-content:space-evenly;
    padding: 15px;
    min-width: 600px;
    
}

.first{
    /* min-height: 10px; */
    min-width: 300px;
    border: 3px solid rgb(131, 135, 139);
    border-radius: 5px;
    padding: 7px;
}

.second{
    /* min-height: 600px; */
    min-width: 300px;
    border: 3px solid rgb(131, 135, 139);
    border-radius: 5px;
    padding: 7px;
}

.third{
    /* min-height: 600px; */
    min-width: 200px;
    border: 3px solid rgb(131, 135, 139);
    border-radius: 5px;
    padding: 7px;
    /* margin: 10px; */
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px;
    padding-left: 0%;
}

.first-second{
    display: flex;
    line-height: 30px;
    font-size: small;
    
    background:linear-gradient(125deg, rgb(67, 185, 218),rgb(117, 248, 237)) ;
    /* z-index: 100; */
    padding: 9px;
    border-radius: 17px;
    color: rgb(245, 246, 247);
}

.third-first{
    display: flex;
    line-height: 30px;
    font-size: small;
    background:linear-gradient(125deg, rgb(67, 185, 218),rgb(117, 248, 237)) ;
    /* z-index: 100; */
    padding: 4px;
    border-radius: 17px;
    color: rgb(245, 246, 247);
    height: 430px;
}
.block{
    margin-top: 20px;
    width: 110px ;
    background:linear-gradient(125deg, rgb(67, 185, 218),rgb(117, 248, 237)) ;
    padding: 15px;
    border-radius: 17px;
    color: rgb(245, 246, 247);
}

h2{
    font-size: small;
}

li{
    margin-left: 17px;
}

.right-tick{
    list-style: none;
}

.right-tick li:before{
    font-size: large;
    font-weight: bold;
    content: '✓';
}

ul{
    list-style: none;
    
}

ul li:before{
    content: '>';
    font-weight: bold;
    font-size: large;
    margin-right: 7px;
}


input[type=text]{
    border: none;
    /* border-bottom: 3px solid rgb(23, 138, 132); */
    appearance: none;
    /* background-color: #fff; */
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 150px;
    height: 30px;
}

input[type=button]{
    margin-top: 5px;
    padding: 15px;
    width: 40%;
    border-radius: 5px;
    outline: none;
    background-color: rgb(12, 150, 150);
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    
}
textarea{
    border: none;
    /* border-bottom: 3px solid rgb(23, 138, 132); */
    appearance: none;
    /* background-color: #fff; */
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    
}
.names{
    display: flex;

    margin-bottom: 5px;
}

form{
    padding: 10px;
    width: min-content;
}
/* .email{
    display: flex;
    flex-direction: column;
    
} */

.email input{
    width: 345px;
}

span{
    color: red;
    font-size: 19px;
    margin-top: 2px;
    font-weight: 400;
}
