@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    

}

h1{
    font-size: 50PX;
    /* text-align: center; */
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20PX;
    /* text-align: center; */
    
}
em,strong{
    margin-left: 0px;
}

.pack{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}

sup{
    margin-left: 0px;
}
.items,.price,.due{
    display: flex;
    flex-direction: column;
    
}
.empty{
    min-height: 20px;
}
